
.spyproject
.idea
.conf
mcjobs/apiconfig.yml
test/posts-careerbuilder.csv
test/searchdata-careerbuilder.csv
test/posts-indeed.csv
test/searchdata-indeed.csv
mcjobs/API/__pycache__/
mcjobs/__pycache__/
mcjobs/text/__pycache__/
defaults.ini
docs/templates/
docs/resumes/
